.btn {
  margin: 3px;
}

.btn-primary.active,
.btn-primary:focus {
  background-color: #0056b3; /* Darker shade for active state */
  color: green;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-primary:active {
  background-color: #004085; /* Even darker for active click state */
  color: green;
  transform: translateY(1px); /* Slightly move down when clicked */
}