<div class="container-fluid">
    <div class="table-responsive mt-4">
        <h2>Tabela možnih podjetij za analizo</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Ime podjetja</th>
                    <th>Prihodek ($M)</th>
                    <th>Dobiček ($M)</th>
                    <th>Sredstva ($M)</th>
                    <th>Št. zaposlenih</th>
                    <th>Operacije</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let company of companies">
                    <td>{{ company.rank }}</td>
                    <td>{{ company.ime }}</td>
                    <td>{{ company.prihodek }}</td>
                    <td>{{ company.dobicek }}</td>
                    <td>{{ company.sredstva }}</td>
                    <td>{{ company.stZaposlenih }}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" style="margin-right: 10px;">Posodobi</button>
                        <button class="btn btn-danger btn-sm">Izbriši</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
